@model Case_Management_System.Models.CitizenCase

@{
    ViewData["Title"] = "Citizen Case Details";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Citizen Case Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Citizen)
            </dt>
            <dd class="col-sm-9">
                <div class="form-floating">
                    <input class="form-control border-0 shadow" value="@Model.Citizen.Id" readonly />
                    <label>@Html.DisplayNameFor(model => model.Citizen)</label>
                </div>
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Case)
            </dt>
            <dd class="col-sm-9">
                <div class="form-floating">
                    <input class="form-control border-0 shadow" value="@Model.Case.CaseNum" readonly />
                    <label>@Html.DisplayNameFor(model => model.Case)</label>
                </div>
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DateReported)
            </dt>
            <dd class="col-sm-9">
                <div class="form-floating">
                    <input class="form-control border-0 shadow" value="@Model.DateReported.ToString("yyyy-MM-dd")" readonly />
                    <label>@Html.DisplayNameFor(model => model.DateReported)</label>
                </div>
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-9">
                <div class="form-floating">
                    <input class="form-control border-0 shadow" value="@Model.Status" readonly />
                    <label>@Html.DisplayNameFor(model => model.Status)</label>
                </div>
            </dd>
        </dl>

        <div class="row pt-4">
            <div class="col-6 col-md-3">
                <a asp-action="Edit" asp-route-id="@Model?.CitizenCaseId" class="btn btn-primary form-control">Edit</a>
            </div>
            <div class="col-6 col-md-3">
                <a asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
