@model IEnumerable<Case_Management_System.Models.CitizenCase>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Citizen Cases</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <p>
            <a asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Create New Citizen Case
            </a>
        </p>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Citizen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Case)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateReported)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Citizen.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Case.CaseNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateReported)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CitizenCaseId" class="btn btn-sm btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.CitizenCaseId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
